body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}

.conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 800px;
    border: black solid 1px;
    
}

.imagem{
    height: 75px;
    width: 250px;
    margin-top: 45px;
}

.descricao{
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.btn{
    background-color: #3373a7;
    height: 30px;
    width: 350px;
    border-radius: 5px;
}

.conteinerInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.input{
    margin: 2px;
    height: 30px;
    width: 350px;
    border-radius: 5px;
}

.erro{
    border-color: red;
    border: 50px black solid;
}

.loginfacebook{
    background-color: #3373a7;
    height: 30px;
    width: 350px;
    border-radius: 5px;
}